.loader {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: calc(100vh/2 - 125px);
    left: calc(100vw/2 - 125px);

    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);

    padding: 40px;

    background: var(--background-color);
    box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);

    border-radius: 30px;
    z-index: 1200;
}
