@use 'styles/mixins';

.wrap {
  margin-top: 32px;
  background-color: #fff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;

  & text {
    text-transform: initial;
  }

  @include mixins.mq(tablet) {
    margin: 32px auto 32px auto;
    height: 422px;
    width: 725px;
  }
  @include mixins.mq(desktop) {
    width: 1098px;
}
}

.name {
  letter-spacing: 0.02em;
  fill: var(--text-color);
  text-transform: initial;
}

.price {
  letter-spacing: 0.02em;
  fill: var(--text-color);
}